@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Akaya Kanadaka;
    box-sizing: border-box;
}

/* css for body*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #000000fa;

}

/* heading css */
.heading {
    text-align: center;
    color: #e7f3a1be;
    font-size: 2.6rem;
}


/* buttons settings */
button {
    background: none;
    border: none;
    position: relative;
    display: block;
    padding: 15px 20px;   /* i changed this */
    width: 350px;
    margin: 38px 10px;
    color: #03e9f4;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    outline: none;
}

/* hue rotate for alternate buttons */
button:nth-child(2) {
    filter: hue-rotate(72deg);
}

button:nth-child(3) {
    filter: hue-rotate(144deg);
}

button:nth-child(4) {
    filter: hue-rotate(216deg);
}

button:nth-child(5) {
    filter: hue-rotate(288deg);
}

/* buttons hover effects*/
button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}

/* button span for center and absolute display*/
button span {
    position: absolute;
    display: block;
}

/* buttons-span css for neon settings with their respective keyframes*/
button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/* popup button settings */
.submit-button {
    display: inline-block;
    width: 150px;
    -webkit-box-reflect: unset;
    filter: hue-rotate(245deg) !important;
}

.clear-button {
    display: inline-block;
    width: 150px;
    -webkit-box-reflect: unset;
    filter: hue-rotate(180deg) !important;
}

/* removing number field spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* css for attractive forms */
#studentDetails {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

#mailDetails {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.modal-content2 label {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-content2 {
    width: 600px;
    height: 300px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 4px;
    text-align: center;
    padding: 60px;
    position: relative;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #ece5e5;
}

input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0.3);
    background: transparent;
    width: 280px;
    box-sizing: border-box;
    transition: all .3s linear;
    color: #fff;
    font-weight: 400;
    -webkit-appearance: none;
}

input {
    width: calc(100% - 44px);
    margin-left: auto;
    display: flex;
}

textarea:focus,
input:focus {
    outline: none;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: antiquewhite;
}

.close1 {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: antiquewhite;
}

/* Popup Button styling  */
#alertpopup {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: none;
}

#modalpopup {
    max-width: 450px;
    height: 200px;
    background: rgba(0, 0, 0, 0.85);
    /*background: rgba(255, 255, 255, 0.7);*/
    border-radius: 4px;
    text-align: center;
    padding: 60px 50px;
    position: relative;
    color: #f3a4a1;
    font-family: Poppins;
    font-size: 25px;
    text-align: center;
}